<!DOCTYPE html>
<html>

<head>
    <title>welcome</title>
    <link rel="stylesheet" type="text/css" href="style1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
      
        body {

}
    </style>


</head>

<body class="landing">
    <header id="header" class="alt">
        <nav class="nav_effect">
            <ul>
                  <li>
                    <a href="index.html">Ankur Gharde</a>
                </li>
                
                <li>
                   
                     <a href="About.html">About me</a>
                </li>
                <li>
                    
                     <a href="Portfolio.html">Portfolio</a>
                </li>
                    
                <li>
                   <a href="Blog.html">Blog</a>
                </li>
                <li>
                   <a href="Contact.html">Contact</a>
                </li>
                 <li class="nav-item">
                <a class="nav-link" href="https://drive.google.com/file/d/1lIcLZtdunefCmaTxP_l91-wdXk1TgPKV/view?usp=sharing" target="blank"><b><i class="fa fa-file-pdf-o"></i> Resume</b></a>
            </li>

                <li>
                              <form class="form-inline my-2 my-lg-0 mr-3" method="get" action="/search/">
        <input class="Search" type="search" placeholder="Search" aria-label="Search" name="query">
        <button class="submit" type="submit">Search</button>

      </form>
                    </li>
                    

               
            </ul>
        </nav>  
        <div class="Ankur">
       <img class="w3-circle" src="C:\Users\Admin\Pictures\dada.jpg" alt="Ankur" style="width:45%;" class="w3-round"><br><br>
       </div>
       <div class="mt-4">
                              
                
                  <a href="https://www.linkedin.com/in/ankurgharde?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bloach7KiRLCmBwAoeTUhhw%3D%3D"><i class="fa fa-linkedin"></i></a>
                
                
                  <a href="https://github.com/Ankurgharde" ><i class="fa fa-github"></i></a>
                
       </div>    

        
        <div class="para" id="intro-section" style="margin-bottom: 1rem; margin-top:1rem">
            <h3> Ankur Gharde</h3>
            <p class="lead"><b> Machine Learning Engineer</b></p>
            <p class="lead" style="font-size: 14pt"> I  completed my graduation in Electronics & Telecommunication branch from S.R.P.C.E Nagpur (Nagpur Uiversity) in 2018 and completed my Diploma in Electronics & Telecommunication branch from S.S.P.P. Bhilewada,Bhandara (M.S.B.T.E) </p>
            <p class="lead" style="font-size: 14pt"> I'm currently working as a Frelacher,Website Designing,Proefficient in Data Science Work,Focus on data prepocessing technique,AWS(C2),Python programing Language,AI,ML.</p>
            <p class="lead" style="*font-size: 15pt; margin-bottom:0px"><b> RTMNU Nagpur</b></p>
            <ul style="padding-left:30px">
              
              <li class="lead" style="font-size: 14pt"><b> Bachelor of Engineering in Electronics & Telecommunication Engineering</b></li>
              <li class="lead" style="font-size: 14pt"> Certificate of  Machine Learning with Python</li>
            </ul>
              <!--<br/>A general design goal of mine is to automate a process with as little user input as possible.</p>-->
            
          </div>
          <div class="w3">
            <h1>Learn more about my :-</h1>
          <a class="w3-button w3-black" href="#skills">
              Skills</a>
              <a class="w3-button w3-red" href="Project">
              Project</a>
              <a class="w3-button w3-green" href="https://drive.google.com/file/d/1lIcLZtdunefCmaTxP_l91-wdXk1TgPKV/view?usp=sharing">
              Resume</a>
              <a class="w3-button w3-blue" href="Work Experience">
              Work Experience</a>
          </div>
          <br>
              
</html>
