<!DOCTYPE html>
<html>

<head>
    <title>welcome</title>
   
    <link rel="stylesheet" type="text/css" href="style1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

body {
      background:white; 
        
}
    </style>

</head>

<body class="landing">
    <header id="header" class="alt">
        <nav class="nav_effect">
            <ul>
                  <li>
                    <a href="index.html">Ankur Gharde</a>
                </li>
                
                <li>
                   
                     <a href="About.html">About me</a>
                </li>
                <li>
                    
                     <a href="Portfolio.html">Portfolio</a>
                </li>
                    
                <li>
                   <a href="Blog.html">Blog</a>
                </li>
                <li>
                   <a href="Contact.html">Contact</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://drive.google.com/file/d/1lIcLZtdunefCmaTxP_l91-wdXk1TgPKV/view?usp=sharing" target="blank"><b><i class="fa fa-file-pdf-o"></i> Resume</b></a>
            </li>
               
                 <li>
                              <form class="form-inline my-2 my-lg-0 mr-3" method="get" action="/search/">
        <input class="Search" type="search" placeholder="Search" aria-label="Search" name="query">
        <button class="submit" type="submit">Search</button>

      </form>
                    </li>
                    
                     
            </ul>

        </nav>   
       </div>
       <br>
       <br>
        <div class="w3-row-padding">

    <div class="w3-third w3-container w3-margin-bottom">
      
      <div class="w3-container w3-grey">
        <p><b> Blog</b></p>
        <h3>Supervised & Unsupervised Learning</h3>
        <a class="w3-button w3-blue" href="https://ankurgharde.blogspot.com/2021/03/supervised-unsupervised-learning.html">
              Click here</a>
               
              <br>
              <br>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      
      <div class="w3-container w3-blue">
        <p><b>Blog</b></p>
        <h3>House Price Prediction Machine Learning Model</h3>
        <a class="w3-button w3-red" href="https://supervisedandunsupervisedlearning.blogspot.com/2021/03/supervised-unsupervised-learning.html">

              Click here</a>
              <br>
              <br>
      </div>
    </div>
    <div class="w3-third w3-container">
      
      <div class="w3-container w3-red">
        <p><b>Blog</b></p>
        <h3>Faulty Calculator Using Python</h3>
        <br>
        <br>
        <br>
        <br>

      </div>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      
      <div class="w3-container w3-green">
        <p><b>Blog</b></p>
        <h2>Health Management System Using Python</h2>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
     
      <div class="w3-container w3-pink">
        <p><b>Blog</b></p>
        <h2>Stock price prediction</h2>
         <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="w3-third w3-container">
      
      <div class="w3-container w3-yellow">
        <p><b>Project 6</b></p>
        <p>......</p>
        <br>
        <br>
        <br>
        <br>
        <br>
       
        
      </div>
    </div>
  </div>


</body>


</html>